---
---

<div class="flex items-center space-x-1 justify-around">
  <img src={process.env.PUBLIC_LIGHT_LOGO}  alt="Logo" class="h-8 dark:hidden block" />
  <img src={process.env.PUBLIC_DARK_LOGO} alt="Logo" class="h-8 hidden dark:block" />
</div>
