---
import Layout from "@/layouts/Layout.astro";
import AnalyticsLayout from "@/components/analytics/layout.svelte";
import AnalyticsManager from "@/managers/analytics-manager.svelte";
---

<!-- Changed -->
<Layout title={import.meta.env.PUBLIC_BRAND_NAME}>
  <div class="flex flex-row">
    <AnalyticsManager client:only="svelte"  />
    <AnalyticsLayout client:only="svelte"  />
  </div>
</Layout>
