---
import Layout from "@/layouts/Layout.astro";
import EventsManager from "@/managers/events.svelte";
import PersonCountManager from "@/managers/person-count.svelte";
import Camera from "@/managers/camera.svelte";
import PageBarMobile from "@/components/bars/PageBarMobile.astro";
import GalleryPage from "@/managers/gallery.svelte";
import LiveLayout from "@/components/live/layout.svelte";
import MoksaTokenManager from "@/managers/moksa-token.svelte";
---

<!-- Changed -->
<Layout title={import.meta.env.PUBLIC_BRAND_NAME}>
  <Camera client:only="svelte" />
  <div class="block lg:hidden">
    {(<PageBarMobile location="top" />)}
  </div>
  <div class="flex flex-row">
    <!-- <MoksaTokenManager client:only="svelte" /> -->
    <EventsManager client:only="svelte" />
    <PersonCountManager client:only="svelte" />
    <GalleryPage client:only="svelte" />
    <LiveLayout client:only="svelte" />
  </div>
</Layout>
