---
import Layout from "@/layouts/Layout.astro";
import ReportsManager from "@/managers/reports.svelte";
import AllEventsManager from "@/managers/all-events.svelte";
import CameraManager from "@/managers/camera.svelte";
import GalleryManager from "@/managers/gallery.svelte";
---

<Layout title="LENS View | Reports">
  <div class="flex flex-row">
    <CameraManager client:only="svelte"/>
    <AllEventsManager client:only="svelte"/>
    <GalleryManager client:only="svelte"/>
    <ReportsManager client:only="svelte"/>
  </div>
</Layout>
