---
import Layout from "@/layouts/Layout.astro";
import TicketsLayout from "@/components/tickets/layout.svelte";
const moksa = Astro.locals.moksa;

---

<!-- Changed -->
<Layout title={import.meta.env.PUBLIC_BRAND_NAME}>
  <div class="flex flex-row">
    <TicketsLayout client:only="svelte" {moksa}/>
  </div>
</Layout>
